body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#threejs {
    width: 100%;
    height: 100%;
    display: block;
}

#threejs {
    width: 100%;
    height: 100%;
    display: block;
}
